/* 
    color 
    Primary = #1F2937
*/

@font-face {
    font-family: 'Roboto-black';
    src: url(../style/fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: 'Roboto-light';
    src: url(../style/fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto-medium';
    src: url(../style/fonts//Roboto-Medium.ttf);
}
@font-face{
    font-family:'Roboto-thin';
    src:url(../style/fonts//Roboto-Thin.ttf);
}

*{
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto-light';
}

body {
    display: block;
}

#heros {
    min-height: 100vh;
    width: 100%;
}

.heros-contact {
    display: block;
    position: relative;
}

.heros-about {
    display: block;
    position: relative;
}

.about-hero-background {
    display: block;
    background: url(../images/about-us-1.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    width: 100%;
    z-index: 9999;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #1F2937;
        opacity: 0.8;
        z-index: -1;
    }
}

.header-text {
    top: 38%;
    left: 42%;
    display: block;
    position: absolute;
    font-family: 'Roboto-black';
    font-weight:bold;
    margin: 0;
    padding: 0;
    font-size: 3rem;
    color: #F9FAF8;
    z-index: 99999;
}

.contact-hero-background {
    display: block;
    position: relative;
    background: url(../images/contact-page-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    width: 100%;
    z-index: 9999;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #1F2937;
        opacity: 0.8;
        z-index: -1;
    }
}

#mission {
    width:100%; 
    height:100%; 
    margin: 0 auto; 
}

#vision {
    width:100%; 
    height:100%; 
    margin: 0 auto; 
    background: #E5E7EB; 
}

.mission-container, .vision-container {
    width: 90vw; 
    height:auto; 
    margin: 0 auto; 
    padding: 50px 0;
}

.secondary-header {
    font-size: 3rem;
    font-family: 'Roboto-black';
    color: #1f2937;
    width: 100%;
    height: 25%;
    margin-bottom: 1rem;
}

.people-container {
    width: 90vw; 
    height:auto; 
    margin: 0 auto; 
}

.people-column {
    float: left;
    width: 25%;
    margin-bottom: 1rem;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.people-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.people-card img{
    width: 10vw;
    height: 13vh;
    padding-bottom: .6rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}
  
.card-header-text {
    font-family: 'Roboto-black';
    color: #1F2937;
    font-weight: bolder;
    padding-bottom: .2rem;
}

.card-title {
    color: grey;
    padding-bottom: .7rem;
}
  
.card-body__text {
    font-family: 'Roboto';
    font-weight: lighter;
    padding-bottom: .5rem;
    text-align: center;
}

.card-footer__text {
    font-family: 'Roboto';
    padding-bottom: .5rem;
}

.card-button {
    border: none;
    border-radius: 10px;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #3882F6;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
  
.card-button:hover {
    background-color: #1f2937;
}

#location {
    width:100%; 
    height:100%; 
    margin: 0 auto; 
}

.location-container {
    font-family: 'Roboto';
    width: 90vw; 
    height:auto; 
    margin: 0 auto; 
    padding: 50px 0;
}

.location-container .header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
}

.location-container .header-section h2{
    font-size: 3rem;
    font-family: 'Roboto-black';
    color: #1f2937;
    padding-bottom: .5rem;
}

.location-container .header-section p{
    font-family: 'Roboto';
    font-size: 1rem;
}

.location-container .header-section p b{
    color: #1f2937;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 1rem;
}

.location-container .contact-information{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.location-container .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #E5E7EB; 
    width: 20vw;
    height: 24vh;
    border-radius: 5px;
    margin: 1rem 2.5rem;
    box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),
    0px 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.location-container .card .card-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5vw;
    height: 2.5vw;
    background-color: #3882F6;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.location-container .card .card-header span i {
    color: #FFF;
    font-size: 1.25rem;
}

.location-container .card .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.location-container .card .card-body h4 {
    font-family: 'Roboto-black';
    color: #1f2937;
    font-size: 1.25rem;
    padding-bottom: .4rem;
}

.location-container .card .card-body p {
    font-family: 'Roboto';
    font-size: 1rem;
    padding: .5rem 1.5rem;
    text-align: center;
}

.location-container .card .card-body p span {
    text-decoration: underline;
    font-family: 'Roboto';
    font-size: 1rem;
}

#form {
    width:100%; 
    height:100%; 
    margin: 0 auto; 
    background: #E5E7EB; 
}

.form-container {
    font-family: 'Roboto';
    width: 90vw; 
    height:auto; 
    margin: 0 auto; 
    padding-bottom: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-header {
    font-size: 3rem;
    font-family: 'Roboto-black';
    color: #1f2937;
    width: 100%;
    height: 25%;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-area{
    width: 50%;
    padding: 1.2rem .8rem;
}

.form-area form input,
.form-area form textarea {
	width: 100%;
	height:30px;
	padding:5px 10px;
	font-size: 12px;
	color:#999;
	letter-spacing:1px;
	background: #FFF;
	border:2px solid #FFF;
	margin-bottom:25px;
	transition:all .1s ease-in-out;
}

.form-area form input:focus,
.form-areaform textarea:focus {
	border: 2px solid #1f2937;
	color:#999;
}

.form-area form textarea {
	height:150px;
}

.form-area form .submit {
	width:100%;
	padding:5px 8px;
	font-size: 12px;
	letter-spacing:1px;
	background:#3882F6;
	height: 40px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#FFF;
	border:2px solid #1f2937;
	transition:all .1s ease-in-out;
}

.form-area form .submit:hover {
	color:#FFF;
	border:2px solid #3882F6;;
	background: #1f2937;
	cursor:pointer;
}

.form-area form .required {
	color:#3882F6;
    cursor: pointer;
}

.address-area {
    width: 50%;
    padding: .5rem .8rem;
}

.address-area .address p {
    display: flex;
    flex-direction: column;
    padding-bottom: .2rem;
}

.address-area .address p .icon {
    padding-bottom: .2rem;
    font-family: 'Roboto-black';
    color: #1f2937;
    font-size: 1.25rem;
}

.address-area .address p .text {
    padding-bottom: .2rem;
    font-family: 'Roboto';
    font-size: 1rem;
}


.address-area .map img{
    border-radius: 5px;
    width: 40vw;
    height: 13vw;
    box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),
    0px 1px 3px 1px rgba(60, 64, 67, 0.15);
}