@font-face {
    font-family: 'Roboto-black';
    src: url(fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: 'Roboto-light';
    src: url(fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto-medium';
    src: url(fonts/Roboto-Medium.ttf);
}
@font-face{
    font-family:'Roboto-thin';
    src:url(fonts/Roboto-Thin.ttf);
}

*{
    font-size: 18px;
    color: #E5E7EB;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto-light';
    margin: 0;
    width: 100%;
    background-color: whitesmoke;
    justify-content: center;
}

button{
    background-color: #3882F6;
    color:#F9FAF8;
    border-radius: 8px;
}

.hero{
    background-color: #1f2937;
    display: flex;
    padding-left: 10%;
    gap:5%;
    justify-content: center;
    align-items: center;
    .hero-text{
        width: 55%;
        height: 100%;
        #hero-text1{
            font-family: 'Roboto-black';
            font-weight:bold;
            margin: 0;
            font-size: 48px;
            color: #F9FAF8;
        }
        #hero-text2{
            margin: 0;
            margin-bottom: 1%;
        }
        button{
            margin-top: 5%;
            margin-left: 1%;
            text-size-adjust: auto;
            border: none;
            height: 12%;
            width: 20%;
            
            display: block;
        }
    }
    .hero-img{
        display: flex;
        min-width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: #E5E7EB;
        background-color: rgb(154, 177, 178);
        img {
            min-width: 100%;
            max-height: 100%;
        }

    }

}

.grid-view{
    overflow: hidden;
    .title{
        padding: 0;
        text-align: center;
        font-size: 48px;
        font-family: 'Roboto-black';
        color: #1f2937;
    }
    .grid{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        gap: 2%;
        text-align: center;
        img{
            border:2px solid #3882F6;
        }
        p{
            color:#1F2937 ;
        }
    }
    
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 5%;
    height: 30%;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    blockquote{
        i{
            font-size: 36px;
            color:#1F2937 ;
        }
    }
    p{
        margin-left: 20%;
        color:#1F2937 ;
    }
}

.call-to-action{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    
    height: 20%;
    justify-content: center;
    align-items: center;
    .container{
        display: flex;
        background-color: #3882F6;
        width: 60%;
        height: 100%;
        border-radius: 15px;
        align-items: center;
        .call-to-action-one{
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            justify-content:left;
            align-items:flex-start;
            margin-left: 8%;
            #call1{
                margin-bottom: 0;
                font-size: 20px;
            }
        }
        .call-to-action-two{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            button{
                height: 25%;
                width: 27%;
                border: 2px solid #F9FAF8;
            }
        }
    }

}

@media screen and (max-width: 1500px) {
    * {
        font-size: 12px; 
    }
    .hero{
        .hero-text{
            #hero-text1{
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    * {
        font-size: 14px; 
    } 
        .hero{
            .hero-text{
                #hero-text1{
                    font-size: 20px;
                }
                button{
                    font-size: 10px;
                }
            }
        }
}

@media screen and (max-width: 1200px) {
    * {
        font-size: 12px; 
    } 
    header{
        .hero{
            .hero-text{
                #hero-text1{
                    font-size: 40px;
                }
               
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    * {
        font-size: 12px; 
    } 
    header{
        .hero{
            
            .hero-text{
                #hero-text1{
                    font-size: 40px;
                }
               
            }
        }
    }
}
@media screen and (max-width: 750px) {
    * {
        font-size: 12px; 
    } 
    header{
      
    }
} 