@font-face {
    font-family: 'Roboto-black';
    src: url(fonts/Roboto-Black.ttf);
}
@font-face {
    font-family: 'Roboto-light';
    src: url(fonts/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto-medium';
    src: url(fonts/Roboto-Medium.ttf);
}
@font-face{
    font-family:'Roboto-thin';
    src:url(fonts/Roboto-Thin.ttf);
}

*{
    font-size: 18px;
    color: #E5E7EB;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto-light';
    margin: 0;
    width: 100%;
    height: 1500px;
    background-color: whitesmoke;
}

button{
    background-color: #3882F6;
    color:#F9FAF8;
}

header{
    display:flex;
    background-color: #1F2937 ;
    width: 100%;
    height: 40%;
    flex-direction: column;
    align-items: center;
    nav{
        position:fixed;
        background-color: #1F2937 ;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 8%;
        justify-content: space-between;
        .logo{
            font-family: 'Roboto-black';
            color: #F9FAF8;
            font-size: 24px;
            margin-left:20% ;
        }
        .links{
            width: 27%;
            margin-right: 20%;
            display: flex;
            justify-content: space-around;
        }
    }
}

.hero{
    background-color: #1F2937 ;
    display: flex;
    margin:10%;
    width: 47%;
    height:80%;
    gap:5%;
    .hero-text{
        width: 55%;
        height: 100%;
        #hero-text1{
            font-family: 'Roboto-black';
            font-weight:bold;
            margin: 0;
            font-size: 48px;
            color: #F9FAF8;
        }
        #hero-text2{
            margin: 0;
            margin-bottom: 1%;
        }
        button{
            margin-top: 5%;
            margin-left: 1%;
            text-size-adjust: auto;
            border: none;
            height: 12%;
            width: 20%;
            border-radius: 8px; 
            display: block;
        }
    }
    .hero-img{
        display: flex;
        min-width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: #E5E7EB;
        background-color: rgb(154, 177, 178);
    }

}


main{
    display:flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    
}



.grid-view{
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    align-items: center;
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 48px;
        font-family: 'Roboto-black';
        color: #1f2937;
        width: 100%;
        height: 25%;
    }

    .grid{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 75%;
        gap: 3%;
        justify-content: center;
        .grid-section{
            width:8%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            .grid-box{
                width:100%;
                height:50%;
                border: 3px solid #3882F6;
                border-radius: 10px;
            }

            .grid-text{
                color: #1f2937;
                width:100%;
                height:20%;
            }
        }
    } 
}

.quote{
    background-color: #E5E7EB;
    height: 40%;
    width: 100%;
    background-color: green;
}

footer{
    display:flex;
    background-color: #1F2937 ;
    width: 100%;
    height: 12.5%;
}

@media screen and (max-width: 1500px) {
    * {
        font-size: 12px; 
    }
    .hero{
        .hero-text{
            #hero-text1{
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    * {
        font-size: 10px; 
    } 
        .hero{
            .hero-text{
                #hero-text1{
                    font-size: 20px;
                }
                button{
                    font-size: 10px;
                }
            }
        }
}

@media screen and (max-width: 1200px) {
    * {
        font-size: 10px; 
    } 
    header{
        .hero{
            .hero-text{
                #hero-text1{
                    font-size: 40px;
                }
               
            }
        }
    }
}