/* *{
    font-size: 18px;
    color: #E5E7EB;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto-light';
    margin: 0;
    width: 100%;
    background-color: whitesmoke;
    justify-content: center;
} */


.grid-view{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
    .title{
        margin: 2rem 3rem;
        padding: 0;
        text-align: center;
        font-size: 48px;
        font-family: 'Roboto-black';
        color: #1f2937;
    }
    .grid{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        gap: 2%;
        text-align: center;
        img{
            /* border:2px solid #3882F6; */
            border-radius: 5px;
            box-shadow: rgba(56,130,246,1) 0px 1px 2px 0px, rgba(56,130,246,1) 0px 1px 3px 1px;
        }
        p{
            margin-top: .5rem;
            color:#1F2937 ;
        }
    }
    
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 5%;
    height: 30%;
    font-size: 36px;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    blockquote{
        i{
            font-size: 36px;
            color:#1F2937 ;
        }
    }
    p{
        margin-left: 20%;
        color:#1F2937 ;
    }
}

.call-to-action{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    height: 20%;
    justify-content: center;
    align-items: center;

    .container{
        display: flex;
        background-color: #3882F6;
        width: 60%;
        height: 20vh;
        border-radius: 15px;
        align-items: center;
        .call-to-action-one{
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            justify-content:left;
            align-items:flex-start;
            margin-left: 8%;
            color: #E5E7EB;
            #call1{
                margin-bottom: 0;
                font-size: 20px;
            }
        }
        .call-to-action-two{
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50%;
            button{
                height: 25%;
                width: 27%;
                border: 2px solid #E5E7EB;

                &:hover{
                    border: 2px solid #1f2937;
                    color: #1f2937;
                    background-color: #E5E7EB;
                }
            }
        }
    }

}

/* @media screen and (max-width: 1500px) {
    * {
        font-size: 12px; 
    }
    .hero{
        .hero-text{
            #hero-text1{
                font-size: 20px;
            }
        }
    }
}

@media screen and (max-width: 1300px) {
    * {
        font-size: 14px; 
    } 
        .hero{
            .hero-text{
                #hero-text1{
                    font-size: 20px;
                }
                button{
                    font-size: 10px;
                }
            }
        }
}

@media screen and (max-width: 1200px) {
    * {
        font-size: 12px; 
    } 
    header{
        .hero{
            .hero-text{
                #hero-text1{
                    font-size: 40px;
                }
               
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    * {
        font-size: 12px; 
    } 
    header{
        .hero{
            
            .hero-text{
                #hero-text1{
                    font-size: 40px;
                }
               
            }
        }
    }
}
@media screen and (max-width: 750px) {
    * {
        font-size: 12px; 
    } 
    header{
      
    }
}  */