#mission {
    width:100%; 
    height:100%; 
    margin: 0 auto; 
}

.mission-container {
    width: 90vw; 
    height:auto; 
    margin: 0 auto; 
    padding: 50px 0;
}

.mission-container .inner-contant {
    font-size: 1rem;
    font-family: 'Roboto';
}

@media screen and (max-width: 1200px) {
    .mission-container { 
        padding: 40px 0;
    }

    .mission-container .inner-contant {
        font-size: 0.875rem;
    }
}

@media screen and (max-width: 800px) {
    .mission-container {
        padding: 35px 0;
    }

    .mission-container .inner-contant {
        font-size: 0.75rem;
    }
}  
